{% extends "base.html" %}

{% block js_content %}
    <script type='text/javascript' src='/static/js/jquery.cycle.all.min.js'></script>
    <script type='text/javascript' src='/static/js/index/index.js'></script>
{% endblock %}

{% block content %}
	<section class="column width6 first">

			
		wef	
	</section>
	
	<aside class="column width2">
		<div id="rightmenu">
			<header>
				<h3>Overview</h3>
			</header>
			<dl class="first">
				Something will go here
			</dl>
		</div>
	</aside>
{% endblock %}