{% extends "base.html" %}

{% block js_content %}

{% endblock %}

{% block content %}
    
	<section class="column width6 first">
				
					
			wef	
	</section>
	<aside class="column width2">
		<div class="content-box">
			<header style="cursor: s-resize; ">
				<h3>Start a Organization?</h3>
			</header>
			<section>
				If you own servers and want ServerPlot help you manage them, then
				you want to start an organization. When you have an organization created,
				you can add in other users so you don't have to use a single shared
				account. After all that isn't very secure. 
			</section>
			
			<section>
				<a href="/join/create/organization/">Start an organization now!</a>
			</section>
		</div>
		
		<div class="content-box">
			<header style="cursor: s-resize; ">
				<h3>Join an Organization?</h3>
			</header>
			<section>
				If you are part of a company with an account on ServerPlot you can find the
				company or request to join a company given their unique key.
			</section>
			
			<section>
				<a href="/join/find/organization/">Find an organization now!</a>
			</section>
		</div>
	</aside>
{% endblock %}