{% extends "base.html" %}

{% load humanize %}

{% block content %}
	<section class="column width6 first">
	
		<table id="report" class="stylized full" style="">
			<thead>
				<tr>
					<th>Log File</th>
				</tr>
			</thead>
			<tbody>
				{% for log in group.get_logs %}
					<tr>
						<td class=""><a href="/group/{{group.slug}}/?log={{log}}">{{log}}</a> </br></td>
					</tr>
				{% endfor %}	
			</tbody>
		</table>
		
	</section>
	
	<aside class="column width2">
		<div id="rightmenu">
			<header>
				<h3>Overview</h3>
			</header>
			<dl class="first">
				<h3>Servers in the group</h3>
				{% for server in group.get_servers %}
					<a href="/server/{{server.host}}/">{{server}}</a><br />
				{% endfor %}
			</dl>
			
			<dl class="first">
				<h3>Log Information</h3>
				{{group.get_log_count|intcomma}} log{{ group.get_log_count|pluralize }} monitored. <br />
				{{group.get_log_lines|intcomma}} lines logged so far.
			</dl>
		</div>
	</aside>
{% endblock %}