{% extends "base.html" %}

{% block js_content %}
	<script type='text/javascript' src='/js/jquery.selectlink.js'></script>
	<script type='text/javascript' src='/js/server/select.js'></script>
{% endblock %}

{% block content %}
	<section class="column width8 first">
		<table id="report" class="stylized full">
			<thead>
				<tr>
					<th>Log</th>
				</tr>
			</thead>
			<tbody>

					<tr>
						<td class=""><div class="log fulllog">{{log|linebreaksbr}}</div></td>
					</tr>

			</tbody>
		</table>

	</section>
	
	
{% endblock %}