{% extends "base.html" %}

{% block js_content %}
	<script type='text/javascript' src='/js/jquery.selectlink.js'></script>
	<script type='text/javascript' src='/js/server/select.js'></script>
{% endblock %}

{% block content %}
	<section class="column width8 first">

		<div class="log">
			<table id="report" class="stylized full" style="">
				<thead>
					<tr>
						<th>Server</th>
						<th>Log</th>
					</tr>
				</thead>
				<tbody>
					{% for log in logs %}
						<tr>
							<td class="">{{log.server}}</td>
							<td class="">{{log.line|linebreaksbr}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

	</section>
	
	
{% endblock %}