{% extends "base.html" %}

{% block js_content %}
	<script type='text/javascript' src='/js/jquery.selectlink.js'></script>
	<script type='text/javascript' src='/js/server/select.js'></script>
{% endblock %}

{% block content %}
	<section class="column width8 first">
		<table id="report" class="stylized full" style="">
			<thead>
				<tr>
					<th>Server</th>
					<th>Log</th>
				</tr>
			</thead>
			<tbody>
				{% for log in logs %}
					<tr>
						<td class="">{{log.server}}</td>
						<td class=""><span class="log">{{log.line|linebreaksbr}}</span></td>
					</tr>
				{% endfor %}	
			</tbody>
		</table>

	</section>
	
	
{% endblock %}