{% extends "base.html" %}

{% block js_content %}
	<script type='text/javascript' src='/js/jquery.selectlink.js'></script>
	<script type='text/javascript' src='/js/server/log.js'></script>
	
	{% if request.GET.spy %}
		<script type='text/javascript' src='/js/server/spy.js'></script>
		<script type='text/javascript' src='/js/server/spy_init.js'></script>
	{% endif %}
{% endblock %}

{% block content %}
	<section class="column width8 first">
			
			{% include "server/includes/log_header.html" %}
		
			<table id="report" class="stylized full" style="">
				<thead>
					<tr>
						<th>Server</th>
						<th>Log</th>
					</tr>
				</thead>
				<tbody id="holder">
					{% for log in logs %}
						<tr>
							<td class="">{{log.server}}</td>
							<td class=""><div class="log">{{log.line|linebreaksbr}}</div></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		

	</section>
	
	
{% endblock %}